@use "./variables" as *;

.okvirZaSlike {
  height: 500px;
  width: 550px;
  position: relative;
  grid-area: fotografije;
  overflow: hidden;

  border-radius: 10px;
  img {
    object-fit: cover;
  }
}

.crtaIspodNaslovaBio {
  width: 7rem;
  height: 0.3em;
  background-color: $bojaPozadineUspjeh;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 6em;
}

.opis {
  h2 {
    text-align: left;
    font-size: 48px;
  }

  p {
    text-align: justify;
  }

  .crtaIspodPodnaslova {
    width: 18rem;
    min-height: 0.3em;
    background-color: $bojaPozadineUspjeh;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 2em;
  }

  font-size: 24px;
  padding: 40px;
  width: 50rem;
  display: flex;

  flex-direction: column;
  font-size: 1.2rem;
  line-height: 1.7;
  color: $bojaTekstaSvijetla;
  border-radius: 10px;
}

.prvaFotografija {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.drugaFotografija {
  position: absolute;
  right: -100%;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.pretinac {
  display: flex;
  justify-content: space-around;
}

.pozadinaBio {
  background-color: $bojaPozadine;
  color: $bojaTekstaSvijetla;
}

.podrucjeUspjeha {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 100px;
  img {
    object-fit: cover;
  }
}

.uspjesi {
  color: $bojaTekstaTamna;
  width: 100%;
  padding: 0px 90px;
  background-color: $bojaPozadineUspjeh;
  h2 {
    text-align: center;
    margin: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.uspjehInverz {
  background-color: $bojaPozadine;
  color: white;
}

.pretinacUspjeha {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  img {
    object-fit: cover;
  }
  ul {
    width: 40rem;
    li {
      font-size: 1.5rem;
      margin: 20px;
      line-height: 1.5;
    }
  }
}
.pretinacUspjehaInverz {
  display: flex;

  justify-content: space-around;
  padding: 50px;
  img {
    object-fit: cover;
  }
  ul {
    width: 40rem;
    li {
      font-size: 1.5rem;
      margin: 20px;
      line-height: 1.5;
    }
  }
}

.fotografijaUspjeha {
  width: 400px;
  height: 400px;
}

.promjenaPrethodna {
  animation: promjenaPrethodneFotografije 2s ease-in-out normal forwards;
}

.promjenaIduca {
  animation: promjenaIduceFotografije 2s ease-in-out normal forwards;
}

@keyframes promjenaPrethodneFotografije {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}

@keyframes promjenaIduceFotografije {
  from {
    right: -100%;
  }
  to {
    right: 0%;
  }
}

@media screen and (max-width: 900px) {
  .opis {
    width: 400px;
    height: 400px;
    font-size: 1rem;
    margin-bottom: 8em;
    h2 {
      font-size: 2rem;
    }
  }

  .crtaIspodPodnaslova {
    width: 1000rem;
  }
  .crtaIspodNaslovaBio {
    width: 7rem;
    height: 0.3em;
    background-color: $bojaPozadineUspjeh;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 1em;
  }
  .pretinac {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .okvirZaSlike {
    width: 400px;
    height: 400px;
  }
  .pretinacUspjeha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    img {
      margin: auto;
      width: 350px;
      height: auto;
    }
    ul {
      margin: auto;
      width: 20rem;
      li {
        font-size: 1.1rem;
        width: 22rem;
      }
    }
  }

  .pretinacUspjehaInverz {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    img {
      width: 350px;
      height: auto;
      margin: auto;
    }
    ul {
      margin: auto;
      width: 20rem;
      li {
        font-size: 1.1rem;
      }
    }
  }
}

@media (max-width: $srednjiUredaji) {
  .okvirZaSlike {
    height: 350px;
    width: 400px;
  }

  .opis {
    padding: 50px;
    width: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1rem;
    line-height: 1.7;
    h2 {
      font-size: 2rem;
    }
  }

  .uspjesi {
    padding: 20px;

    ul {
      li {
        font-size: 1.2rem;
        width: 70vw;
      }
    }
    img {
      margin: auto;
      #prvaFotografijaUspjeha {
        width: 300px;
      }
    }
    #trecaFotografijaUspjeha {
      width: 300px;
    }
  }
}

@media (max-width: $maliUredaji) {
  .okvirZaSlike {
    height: 250px;
    width: 300px;
  }

  .opis {
    grid-area: opis;
    padding: 40px;
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 0.9rem;
    line-height: 1.7;
    margin-bottom: 8em;
    h2 {
      font-size: 1.8rem;
      text-align: center;
      margin-top: 2em;
    }
  }

  .uspjesi {
    padding: 20px;
    margin: auto;
    ul {
      width: 50%;
      li {
        font-size: 1rem;
        width: 70vw;
      }
    }
    img {
      width: 300px;
      margin: auto;
    }
  }
}
