@use "./variables" as *;
#generatorIzreka {
  color: $bojaTekstaSvijetla;
  text-align: center;
  background-color: $bojaPozadine;
  height: 100%;
  h1 {
    font-size: 3.125rem;
    margin-bottom: 0.2em;
  }
}
.crtaIspodPodnaslovaIzreke {
  width: 17rem;
  margin: auto;
  height: 0.3em;
  background-color: $bojaPozadineUspjeh;
  border-radius: 5px;
  margin-bottom: 3em;
}

.opisCitati {
  line-height: 1.5;
  letter-spacing: 0.4px;
  font-size: 1.3rem;
  width: 65rem;
  margin: auto;
  text-align: justify;
  margin-bottom: 0.7em;
}

.avatar {
  width: 400px;
  margin-top: 6em;
}

.tekstAvatar {
  line-height: 1.5;
  letter-spacing: 0.4px;
  font-size: 1.6rem;
  width: 50rem;
  margin-bottom: 0.7em;
  margin: auto;
  text-align: center;
}

.tekstAvatar,
#izreka {
  z-index: 1;
  color: black;
  position: relative;
  font-size: 1rem;
}

#izreka {
  line-height: 1.5;
  letter-spacing: 0.4px;
  width: 50rem;
  margin: auto;
  margin-bottom: 0.7em;
  margin-top: 3em;
}

.mjehuricRazmisljanje {
  position: absolute;
  width: 250px;
  left: -3em;
  top: -2em;
  z-index: 1;
  transition: all 0s;
}

.pretinacIzreke {
  position: absolute;
  text-align: center;
  display: inline;
  width: 150px;
  height: 100px;
}

.tekstIzreke {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .pretinacAvatar {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: 200px;
    margin: auto;
  }
  .avatar {
    margin: 0;
  }
  .mjehuricRazmisljanje {
    margin: auto;
  }
}

@media (max-width: $maliUredaji) {
  .opisCitati {
    line-height: 1.5;
    letter-spacing: 0.4px;
    font-size: 1.2rem;
    width: 80vw;
    margin: auto;
    text-align: justify;
    margin-bottom: 0.7em;
  }
  .avatar {
    width: 300px;
  }

  .mjehuricRazmisljanje {
    width: 220px;
    left: auto;
    position: relative;
  }

  .tekstIzreke {
    font-size: 10px;
    padding: 10px;
  }

  .pretinacIzreke {
    text-align: center;
    display: flex;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 2em;
    position: relative;
    p {
      width: 100%;
      font-size: 0.9rem;
    }
    #izreka {
      width: 100%;
      font-size: 0.9rem;
    }
  }
}
