@use "./variables" as *;

#pregledPartija {
  background-color: $bojaPozadine;
  color: $bojaTekstaSvijetla;
  position: relative;
  min-height: 100%;
}

.uvodPregleda {
  width: 60rem;
  font-size: 1.2rem;
  letter-spacing: 0.4px;
  line-height: 1.5;
}

.pretinacTeksta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

.pretinacPloce {
  h2 {
    margin-bottom: 1em;
  }
  margin-top: 3em;
  padding-bottom: 6em;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.naslovPregleda {
  font-size: 50px;
  margin-bottom: 0.2em;
}

.prostorZaTablicu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#tablica {
  width: 65%;
  border-collapse: collapse;
  margin-top: 60px;
  background-color: $bojaPozadineUspjeh;
  color: $bojaTekstaTamna;
  :first-child {
    border-top: 2px solid $bojaTekstaTamna;
  }
  tr {
    cursor: pointer;
    border-bottom: 2px solid $bojaTekstaTamna;
    border-right: 2px solid $bojaTekstaTamna;
    border-left: 2px solid $bojaTekstaTamna;
    transition: 0.1s ease-out;
  }
  td {
    padding: 5px;
    text-align: center;
    font-size: 1.2rem;
  }
}

.podaci {
  position: relative;
  width: 25rem;
  height: 15rem;
  background-color: $bojaPrikaza;
  border: 1px solid black;
}

.crni {
  background-color: $bojaPrikaza;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 20%;
  border-top: 1px solid whitesmoke;
}
.bijeli {
  background-color: $bojaPrikaza;
  width: 100%;
  position: absolute;
  top: 0;
  height: 20%;
  border-bottom: 1px solid whitesmoke;
}

.crtaIspodNaslovaPregled {
  width: 60%;
  height: 0.3em;
  background-color: $bojaPozadineUspjeh;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 3em;
}

.crni,
.bijeli {
  display: flex;
  align-items: center;
  padding-left: 1em;
  font-size: 1.2rem;
}

.potezi {
  width: 100%;
  text-align: center;
  color: whitesmoke;
  tr {
    border-bottom: 2px solid $bojaTekstaTamna;
    border-right: 2px solid $bojaTekstaTamna;
    border-left: 2px solid $bojaTekstaTamna;
  }
}

.pretinacPoteza {
  overflow-y: scroll;
  max-height: 60%;
  position: relative;
  top: 20%;
}

.plocaIPotezi {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3em;
}

button {
  padding: 10px;
  margin: 10px;
}

.navigacijaKrozPartiju {
  display: flex;
  justify-content: center;
  align-items: center;
}

.oznacenaPartija {
  background-color: #e0e0e0;
}

.neoznacenaPartija {
  background-color: none;
}

.trenutnaPartija {
  text-align: center;
}

.odabranaPartija {
  background-color: #e0e0e0;
}

footer {
  background-color: $bojaPozadineUspjeh;
  position: relative;
  bottom: 0;
  text-align: center;
  width: 100%;
}

@media (max-width: $maliUredaji) {
  .uvodPregleda {
    width: 60%;
  }
  #tablica {
    td {
      font-size: 0.8rem;
    }
  }

  .pretinacPloce {
    h2 {
      margin-bottom: 1em;
    }
    margin-top: 1em;
    padding-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
