@use "./variables" as *;

body {
  position: relative;
}

#pregledPartija {
  background-color: $bojaPozadine;
  color: $bojaTekstaSvijetla;
  position: relative;
}

.uvodPregleda {
  width: 50rem;
  font-size: 18px;
}

.pretinacTeksta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5em;
}

.pretinacPloce {
  h2 {
    margin-bottom: 1em;
  }
  margin-top: 3em;
  padding-bottom: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.naslovPregleda {
  font-size: 50px;
  margin-bottom: 100px;
}

.prostorZaTablicu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.strane {
  position: absolute;
  height: 100%;
  width: 10%;
  background-color: $bojaPozadineUspjeh;
}

.lijevaStrana {
  left: 0;
}

.desnaStrana {
  right: 0;
}
#tablica {
  width: 65%;
  border-collapse: collapse;
  margin-top: 60px;
  background-color: $bojaPozadineUspjeh;
  color: $bojaTekstaTamna;
  :first-child {
    border-top: 2px solid $bojaTekstaTamna;
  }
  tr {
    border-bottom: 2px solid $bojaTekstaTamna;
    border-right: 2px solid $bojaTekstaTamna;
    border-left: 2px solid $bojaTekstaTamna;
    transition: 0.1s ease-out;
  }
  td {
    padding: 5px;
    text-align: center;
  }
}

button {
  padding: 10px;
  margin: 10px;
}

.navigacijaKrozPartiju {
  display: flex;
  justify-content: center;
  align-items: center;
}

.oznacenaPartija {
  background-color: #e0e0e0;
}

.neoznacenaPartija {
  background-color: none;
}

.trenutnaPartija {
  text-align: center;
}

.odabranaPartija {
  background-color: #e0e0e0;
}

footer {
  background-color: $bojaPozadineUspjeh;
  position: relative;
  bottom: 0;
  text-align: center;
  width: 100%;
}
