$bojaTekstaSvijetla: #e0e0e0;
$bojaPozadine: #5a5a5a;
$bojaPozadineUspjeh: #b3b3b3;
$bojaObruba: purple;
$bojaTekstaTamna: black;

$maliUredaji: 576px;
$srednjiUredaji: 768px;
$velikiUredaji: 992px;
$extraVelikiUredaji: 1200px;
