$bojaTekstaSvijetla: #eaeaea;
$bojaPozadine: #4d251f;
$bojaPozadineUspjeh: #c8a69d;
$bojaTekstaTamna: black;
$bojaPrikaza: #262421;

$fontTekst: "Red Hat Text", sans-serif;

$maliUredaji: 576px;
$srednjiUredaji: 768px;
$velikiUredaji: 992px;
$extraVelikiUredaji: 1200px;
