@use '../misc/variables' as *;
.sekcijaKontakt {
  background-color: $bojaPozadine;
  position: relative;
  bottom: 0;
  min-height: 100%;
  padding-bottom: 3rem;
}

.crtaIspodNaslovaKontakt {
  width: 15rem;
  margin: auto;
  height: 0.3em;
  background-color: $bojaPozadineUspjeh;
  border-radius: 5px;
  margin-bottom: 3em;
}

.naslovKontakt {
  color: $bojaTekstaSvijetla;
}

.uvodKontakt {
  text-align: center;
  color: $bojaTekstaSvijetla;
  font-size: 1.5rem;
  margin-bottom: 2em;
}

.pretinacKartica {
  display: flex;
  justify-content: space-evenly;
}

.kartica {
  width: 20rem;
  height: 30rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: $bojaPozadineUspjeh;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0 30px;
  border-radius: 5px;
  border: 2px solid black;
}

.tekstKartice {
  text-align: center;
}

.fotografija {
  max-width: 200px;
  border-radius: 50%;
}
