@use '../misc/variables' as *;
@media screen and (max-width: $maliUredaji) {
  .pretinacKartica {
    flex-direction: column;
    margin: auto;
    align-items: center;
  }

  .kartica {
    margin-bottom: 3em;
    width: 15rem;
    height: 25rem;
    img {
      max-width: 150px;
    }
  }
  .uvodKontakt {
    font-size: 1.2rem;
  }
}
