@use '../misc/variables' as *;
@media (max-width: $srednjiUredaji) {
  .okvirZaSlike {
    height: 350px;
    width: 400px;
  }

  .opis {
    padding: 50px;
    width: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1rem;
    line-height: 1.7;
    h2 {
      font-size: 2rem;
    }
  }

  .uspjesi {
    padding: 20px;

    ul {
      li {
        font-size: 1.2rem;
        width: 70vw;
      }
    }
    img {
      margin: auto;
      #prvaFotografijaUspjeha {
        width: 300px;
      }
    }
    #trecaFotografijaUspjeha {
      width: 300px;
    }
  }
}
