@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#naslovnica {
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap");
  height: 100%;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #e0e0e0;
  font-family: "Open Sans Condensed", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
}
#naslovnica .navigacija {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  margin-top: 2em;
}
#naslovnica .navigacija a {
  background-color: #292827;
  text-decoration: none;
  color: #e0e0e0;
  font-size: 30px;
  padding: 15px;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}
#naslovnica .navigacija a:hover {
  background-color: #b8b6b4;
  color: black;
}

.naslov {
  font-size: 8rem;
}

.podnaslov {
  font-size: 4rem;
}

body {
  height: 100vh;
}

@media (max-width: 576px) {
  .naslov {
    font-size: 4rem;
  }

  .podnaslov {
    font-size: 2rem;
  }

  #naslovnica .navigacija {
    flex-direction: column;
    gap: 15px;
    margin-top: 1em;
  }
  #naslovnica .navigacija a {
    text-align: center;
    font-size: 17px;
    padding: 10px;
    border-radius: 5px;
  }
}
body {
  overflow-x: hidden;
}

.onemoguciScroll {
  overflow-y: hidden;
  height: 100vh;
}

h1 {
  text-align: center;
  font-size: 3.125rem;
}

.okvirZaSlike {
  height: 500px;
  width: 550px;
  position: relative;
  grid-area: fotografije;
  overflow: hidden;
  border-radius: 10px;
}
.okvirZaSlike img {
  object-fit: cover;
}

.opis {
  grid-area: opis;
  padding: 40px;
  width: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.2rem;
  line-height: 1.7;
  color: black;
  background: #b3b3b3;
  border-radius: 10px;
}

.prvaFotografija {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.drugaFotografija {
  position: absolute;
  right: -100%;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.pretinac {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "opis fotografije";
  margin: auto;
  width: 80%;
  margin-top: 90px;
}

.pozadinaBio {
  background-color: #5a5a5a;
  color: #e0e0e0;
}

body {
  position: relative;
  font-family: "Open Sans Condensed", sans-serif;
}

.podrucjeUspjeha {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 100px;
}
.podrucjeUspjeha img {
  object-fit: cover;
}

.uspjesi {
  color: black;
  width: 100%;
  padding: 0px 90px;
  background-color: #b3b3b3;
}
.uspjesi h2 {
  text-align: center;
  margin: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.uspjehInverz {
  background-color: #5a5a5a;
  color: white;
}

.pretinacUspjeha {
  display: grid;
  padding: 50px;
  gap: 90px;
  grid-template-columns: 0.3fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: "fotografija tekst";
}
.pretinacUspjeha img {
  grid-area: fotografija;
  object-fit: cover;
}
.pretinacUspjeha ul {
  grid-area: tekst;
  width: 40rem;
}
.pretinacUspjeha ul li {
  font-size: 1.5rem;
  margin: 20px;
  line-height: 1.5;
}

.pretinacUspjehaInverz {
  display: grid;
  padding: 50px;
  grid-template-columns: 1fr 0.3fr;
  grid-template-rows: 1fr;
  grid-template-areas: "tekst fotografija";
}
.pretinacUspjehaInverz img {
  grid-area: fotografija;
}
.pretinacUspjehaInverz ul {
  grid-area: tekst;
}
.pretinacUspjehaInverz ul li {
  font-size: 1.5rem;
  margin: 20px;
  line-height: 1.5;
}

.navigacijaZaglavlje {
  border-bottom: 2px solid black;
  width: 100%;
  z-index: 100;
  background-color: #b3b3b3;
  position: sticky;
  display: flex;
  align-items: center;
  height: 70px;
  color: black;
}
.navigacijaZaglavlje img {
  position: absolute;
  left: 20px;
  height: 150px;
}
.navigacijaZaglavlje .navigacijskiLinkovi {
  position: absolute;
  right: 20px;
}
.navigacijaZaglavlje .navigacijskiLinkovi a {
  padding: 10px;
  text-decoration: none;
  color: black;
  border-radius: 5px;
  transition: 0.2s ease-out;
  margin: 10px;
  font-size: 20px;
}
.navigacijaZaglavlje .navigacijskiLinkovi a:hover {
  background-color: #5a5a5a;
  color: #e0e0e0;
}

.fotografijaUspjeha {
  width: 400px;
  height: 400px;
}

.promjenaPrethodna {
  animation: promjenaPrethodneFotografije 2s ease-in-out normal forwards;
}

.promjenaIduca {
  animation: promjenaIduceFotografije 2s ease-in-out normal forwards;
}

@keyframes promjenaPrethodneFotografije {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}
@keyframes promjenaIduceFotografije {
  from {
    right: -100%;
  }
  to {
    right: 0%;
  }
}
@media screen and (max-width: 900px) {
  .opis {
    width: 400px;
    height: 400px;
    font-size: 1rem;
  }

  .pretinac {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .okvirZaSlike {
    width: 400px;
    height: 400px;
  }

  .pretinacUspjeha {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .pretinacUspjeha img {
    width: 350px;
    height: auto;
  }
  .pretinacUspjeha ul li {
    font-size: 1.1rem;
    width: 22rem;
  }

  .pretinacUspjehaInverz {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .pretinacUspjehaInverz img {
    width: 350px;
    height: auto;
  }
  .pretinacUspjehaInverz ul li {
    font-size: 1.1rem;
  }
}
body {
  position: relative;
}

#pregledPartija {
  background-color: #5a5a5a;
  color: #e0e0e0;
  position: relative;
}

.uvodPregleda {
  width: 50rem;
  font-size: 18px;
}

.pretinacTeksta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5em;
}

.pretinacPloce {
  margin-top: 3em;
  padding-bottom: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pretinacPloce h2 {
  margin-bottom: 1em;
}

.naslovPregleda {
  font-size: 50px;
  margin-bottom: 100px;
}

.prostorZaTablicu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.strane {
  position: absolute;
  height: 100%;
  width: 10%;
  background-color: #b3b3b3;
}

.lijevaStrana {
  left: 0;
}

.desnaStrana {
  right: 0;
}

#tablica {
  width: 65%;
  border-collapse: collapse;
  margin-top: 60px;
  background-color: #b3b3b3;
  color: black;
}
#tablica :first-child {
  border-top: 2px solid black;
}
#tablica tr {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  transition: 0.1s ease-out;
}
#tablica td {
  padding: 5px;
  text-align: center;
}

button {
  padding: 10px;
  margin: 10px;
}

.navigacijaKrozPartiju {
  display: flex;
  justify-content: center;
  align-items: center;
}

.oznacenaPartija {
  background-color: #e0e0e0;
}

.neoznacenaPartija {
  background-color: none;
}

.trenutnaPartija {
  text-align: center;
}

.odabranaPartija {
  background-color: #e0e0e0;
}

footer {
  background-color: #b3b3b3;
  position: relative;
  bottom: 0;
  text-align: center;
  width: 100%;
}

#generatorIzreka {
  color: #e0e0e0;
  text-align: center;
  background-color: #5a5a5a;
}
#generatorIzreka h1 {
  font-size: 3.125rem;
  margin-bottom: 1em;
}

.opisCitati {
  font-size: 1.3rem;
  width: 50rem;
  margin: auto;
  text-align: justify;
  margin-bottom: 0.7em;
}

.avatar {
  width: 350px;
}

.izbornik {
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: absolute;
  background: rgba(0, 0, 0, 0.9);
  width: 100vw;
  left: 100%;
  z-index: 50;
  justify-content: center;
  align-items: center;
  gap: 100px;
  font-size: 1.5rem;
}
.izbornik a {
  color: #cd7f32;
}

.ikonaNavigacije {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 51;
  cursor: pointer;
  background: white;
  border-radius: 50%;
  padding: 10px;
}

.rotacijaKodPrikaza {
  animation: rotacijaPrikaz 0.7s normal forwards ease-in-out;
}

.rotacijaKodSkrivanja {
  animation: rotacijaSkrivanje 0.7s normal forwards ease-in-out;
}

.prikazIzbornika {
  animation: animacijaPrikaza 1s normal forwards ease-out;
}

.skrivanjeIzbornika {
  animation: animacijaSkrivanja 1s normal forwards ease-out;
}

@keyframes animacijaPrikaza {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}
@keyframes animacijaSkrivanja {
  from {
    left: 0%;
  }
  to {
    left: 100%;
  }
}
@keyframes rotacijaPrikaz {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}
@keyframes rotacijaSkrivanje {
  from {
    transform: rotate(-90deg);
  }
  to {
    transform: rotate(180deg);
  }
}

/*# sourceMappingURL=main.css.map */
