@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#naslovnica {
  height: 100%;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #e0e0e0;
  font-family: "Open Sans Condensed", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3.5rem;
}

#naslovnica nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-top: 150px;
}

#naslovnica nav a {
  padding: 15px;
  border-radius: 10px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#naslovnica nav a:hover {
  background-color: #b8b6b4;
  color: black;
}

.naslov {
  font-size: 8rem;
}

.podnaslov {
  font-size: 4rem;
}

body {
  height: 100vh;
}

.okvirZaSlike {
  height: 500px;
  width: 550px;
  -o-object-fit: fill;
     object-fit: fill;
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: fotografije;
  overflow: hidden;
  outline: black 5px solid;
  border-radius: 10px;
}

.opis {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: opis;
  padding: 40px;
  width: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.2rem;
  line-height: 1.7;
  color: #343f40;
  background: #90c3c8;
  border: 5px solid black;
  border-radius: 10px;
}

.prvaFotografija {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.drugaFotografija {
  position: absolute;
  right: -100%;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.pretinac {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "opis fotografije";
  margin: auto;
  width: 80%;
  margin-top: 90px;
}

.pozadinaBio {
  background-color: #474554;
  color: white;
}

body {
  position: relative;
  font-family: "Open Sans Condensed", sans-serif;
}

.podrucjeUspjeha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 100px;
  gap: 90px;
  margin-bottom: 100px;
}

.uspjesi {
  width: 80%;
  -webkit-box-shadow: 5px -5px 2px #90c3c8;
          box-shadow: 5px -5px 2px #90c3c8;
}

.uspjesi h2 {
  text-align: center;
  margin: 40px;
}

.uspjehInverz {
  -webkit-box-shadow: -5px -5px 2px #90c3c8;
          box-shadow: -5px -5px 2px #90c3c8;
}

.pretinacUspjeha {
  display: -ms-grid;
  display: grid;
  padding: 50px;
  -ms-grid-columns: 0.3fr 2fr;
      grid-template-columns: 0.3fr 2fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "fotografija tekst";
  gap: 40px;
}

.pretinacUspjeha img {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: fotografija;
}

.pretinacUspjeha ul {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: tekst;
  width: 40rem;
}

.pretinacUspjeha ul li {
  font-size: 1.5rem;
  margin: 20px;
  line-height: 1.5;
}

.pretinacUspjehaInverz {
  display: -ms-grid;
  display: grid;
  padding: 50px;
  -ms-grid-columns: 1fr 0.3fr;
      grid-template-columns: 1fr 0.3fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "tekst fotografija";
  gap: 40px;
}

.pretinacUspjehaInverz img {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: fotografija;
}

.pretinacUspjehaInverz ul {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: tekst;
}

.pretinacUspjehaInverz ul li {
  font-size: 1.5rem;
  margin: 20px;
  line-height: 1.5;
}

.fotografijaUspjeha {
  width: 400px;
  height: 400px;
}

.promjenaPrethodna {
  -webkit-animation: promjenaPrethodneFotografije 2s ease-in-out normal forwards;
          animation: promjenaPrethodneFotografije 2s ease-in-out normal forwards;
}

.promjenaIduca {
  -webkit-animation: promjenaIduceFotografije 2s ease-in-out normal forwards;
          animation: promjenaIduceFotografije 2s ease-in-out normal forwards;
}

@-webkit-keyframes promjenaPrethodneFotografije {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}

@keyframes promjenaPrethodneFotografije {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}

@-webkit-keyframes promjenaIduceFotografije {
  from {
    right: -100%;
  }
  to {
    right: 0%;
  }
}

@keyframes promjenaIduceFotografije {
  from {
    right: -100%;
  }
  to {
    right: 0%;
  }
}

@media screen and (max-width: 900px) {
  .opis {
    width: 400px;
    height: 400px;
    font-size: 1rem;
  }
  .pretinac {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
  }
  .okvirZaSlike {
    width: 400px;
    height: 400px;
  }
  .pretinacUspjeha {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pretinacUspjeha img {
    width: 350px;
    height: auto;
  }
  .pretinacUspjeha ul li {
    font-size: 1.1rem;
    width: 22rem;
  }
  .pretinacUspjehaInverz {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pretinacUspjehaInverz img {
    width: 350px;
    height: auto;
  }
  .pretinacUspjehaInverz ul li {
    font-size: 1.1rem;
  }
}

.izbornik {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  position: absolute;
  background: rgba(0, 0, 0, 0.9);
  width: 100vw;
  left: 100%;
  z-index: 5;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
  font-size: 1.5rem;
}

.izbornik a {
  color: #cd7f32;
}

.ikonaNavigacije {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 6;
  cursor: pointer;
  background: white;
  border-radius: 50%;
  padding: 10px;
}

.rotacijaKodPrikaza {
  -webkit-animation: rotacijaPrikaz 0.7s normal forwards ease-in-out;
          animation: rotacijaPrikaz 0.7s normal forwards ease-in-out;
}

.rotacijaKodSkrivanja {
  -webkit-animation: rotacijaSkrivanje 0.7s normal forwards ease-in-out;
          animation: rotacijaSkrivanje 0.7s normal forwards ease-in-out;
}

.prikazIzbornika {
  -webkit-animation: animacijaPrikaza 1s normal forwards ease-out;
          animation: animacijaPrikaza 1s normal forwards ease-out;
}

.skrivanjeIzbornika {
  -webkit-animation: animacijaSkrivanja 1s normal forwards ease-out;
          animation: animacijaSkrivanja 1s normal forwards ease-out;
}

@-webkit-keyframes animacijaPrikaza {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}

@keyframes animacijaPrikaza {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}

@-webkit-keyframes animacijaSkrivanja {
  from {
    left: 0%;
  }
  to {
    left: 100%;
  }
}

@keyframes animacijaSkrivanja {
  from {
    left: 0%;
  }
  to {
    left: 100%;
  }
}

@-webkit-keyframes rotacijaPrikaz {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@keyframes rotacijaPrikaz {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@-webkit-keyframes rotacijaSkrivanje {
  from {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes rotacijaSkrivanje {
  from {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

.pretinacPloce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.prostorZaTablicu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 4em;
}

#tablica {
  width: 80%;
  border-collapse: collapse;
  margin-top: 60px;
}

#tablica :first-child {
  border-top: 1px solid gray;
}

#tablica tr {
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
}

#tablica td {
  padding: 5px;
  text-align: center;
}

button {
  padding: 10px;
  margin: 10px;
}

.navigacijaKrozPartiju {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.oznacenaPartija {
  background-color: #e0e0e0;
}

.neoznacenaPartija {
  background-color: none;
}

.trenutnaPartija {
  text-align: center;
}

.odabranaPartija {
  background-color: #e0e0e0;
}

footer {
  position: relative;
  bottom: 0;
  margin-top: 100px;
  text-align: center;
  width: 100%;
}

#generatorCitata {
  text-align: center;
}

.avatar {
  width: 400px;
}

a {
  text-decoration: none;
  color: #e7e7e7;
}

body {
  overflow-x: hidden;
}

h1 {
  text-align: center;
}
